@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@700&display=swap');
:root {
  --header-height: 1rem;
  --p-: 0.7em;
  --first-color: #0071e3;
  --title-color: #044186;
  --text_color: #043f7b;
  --text-color-light: rgb(247, 248, 249);
  --body-color: #fbfefd;
  --btn-rappi: rgb(41, 216, 132);
  --btn-rappi-hover: rgb(53, 199, 128);
  --lines-color: rgba(225, 225, 225, 0.5);
  --font-family: 'Erica One', cursive;
  --font-tittle: 'Poppins', sans-serif;
  --font-text: 'Poppins', sans-serif;
  --text-size: 0.8rem;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #000;
  font-family: var(--font-text);
}
a {
  text-decoration: none;
}
header {
  margin-top: 0.3em;
  background-color: var(--body-color);
  top: 0;
  position: sticky;
  z-index: 99;
}
body {
  overflow-y: scroll;
}

#icon-list {
  margin: 0;
}
.txt_font_menuDespleagable {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 300;
}
#icon-list {
  display: inline-block;
  color: rgba(225, 225, 225, 0);
}
.logo-tittle {
  font-family: 'Erica One', cursive;
  color: var(--first-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 10px;
  cursor: pointer;
}
.container-location_lima {
  color: var(--first-color);
  font-family: var(--font-tittle);
}
.logo-img {
  margin-left: 0.5em;
  margin-right: 0.2em;
}
.container-location_lima {
  font-family: var(--font-family);
  font-size: var(--text-size);
}
.search-bar {
  margin-right: 0;
  padding: 0 0.3em;
  background: #e1e1e1c8;
  border-radius: 0.2em;
  padding-right: 1em;
  min-width: 13em;
  gap: 0.3em;
}
.search {
  font-size: 0.8rem;
  border: 0;
  width: 92%;
  padding: 0.9em 0;
  background: transparent;
  outline: none;
}
::placeholder {
  color: #000;
}

.style-container-location {
  border-left: 0.1em solid #a6a6a6;
  border-right: 0.1em solid #a6a6a6;
  height: fit-content;
  margin-right: 1em;
}
.container-user-carrito {
  margin-right: 1em;
  gap: 0.8em;
}
.container-user-carrito_txt_usuario {
  color: var(--first-color);
  font-family: var(--font-family);
  font-size: var(--text-size);
}
.disactive {
  display: none !important;
}
.active {
  display: block !important;
}

.bg-gray {
  background: rgba(12, 12, 12, 0.85);
}
@media screen and (min-width: 1200px) {
  .search-bar {
    margin: 0 0.7em 0 2em;
  }
}
#icon-list {
  padding: 0.5em 0.6em;
}
/* Nav desplegable */
#hamburgerIcon {
  cursor: pointer;
}
.aparecer_nav-desplegable {
  /* transition: ease-in-out 1s; */
  /* animation-delay: 1s; */
  padding: 0 1em 0 0;
  position: absolute;
  top: -0.1px;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  overflow-y: scroll;
}
.nav-desplegable {
  transition: linear 5s;
  width: 0;
  display: none;
  padding: 0px;
  position: absolute;
  top: -0.1px;
  background-color: #ffffff;
  /* overflow-y: scroll; */
}

.nav-desplegable h2 {
  cursor: none;
}
.container-secciones {
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
  padding-left: 1em;
}
li {
  width: 100%;
  padding-right: 2%;
}
li:hover {
  background-color: var(--lines-color);
}
.desplegable__text {
  display: flex;
  justify-content: space-between;
}
.nav-desplegable__icons {
  padding: var(--p-);
  border-bottom: 1px solid var(--lines-color);
}
.img-user-item {
  width: 10em;
}
.img-fire img {
  width: 1.5em;
  height: 1.5em;
  margin-left: 2em;
}
#nav-desplegable__button-close {
  margin-right: 2em;
}

.buttons-registrar {
  padding: var(--p-);
  border-bottom: 1px solid var(--lines-color);
}
.btn-ingreso,
.btn-tarjeta {
  background: var(--btn-rappi);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border: none;
  padding: 0.3em 0.7em;
  border-radius: 0.2em;
  line-height: 30px;
  transition: all 1s;
}
.btn-ingreso,
.btn-tarjeta:hover {
  background: var(--btn-rappi-hover);
}
.container-secciones {
  padding: var(--p-);
  border-bottom: 1px solid var(--lines-color);
}
.list-text {
  font-size: var(--text-size);
  font-weight: 600;
}
.seccion-registro {
  padding: var(--p-);
  font-size: var(--text-size);
  border-bottom: 1px solid var(--lines-color);
}
.nacionality {
  padding: var(--p-);
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid var(--lines-color);
}
.nacionality__countries-icon .countries-icons {
  margin-left: 1.7em;
  width: 1em;
}
.txtContries {
  margin: 0;
}
/*Seccion announcement*/
.annou {
  position: relative;
  width: 100%;
  padding: 0.4em;
  background: rgb(1, 11, 81);
  /* height: 15rem; */
}
.annou__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
.annou__text,
.annou__text-span,
.annou__text-terms {
  font-size: 0.9rem;
  color: var(--body-color);
}
.annou__text-span {
  font-weight: bold;
}
.btn-Registar {
  background: var(--btn-rappi);
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: 800;
  border: none;
  padding: 0.3em 0.7em;
  border-radius: 0.6em;
  line-height: 30px;
  transition: all 0.5s;
}
.btn-Registar:hover {
  background: var(--btn-rappi-hover);
  color: var(--body-color);
}
.annou__text-terms:hover {
  color: var(--body-color);
}
.annou__text-terms {
  text-decoration: underline;
}
.annou__icon3dFrench-fries {
  width: 3em;
  height: 3em;
}
.annou__btn-x {
  position: absolute;
  right: 1em;
  top: 1.2em;
  cursor: pointer;
}
.annou__text {
  margin: 0;
}
/* banner  */
.banner {
  background-color: rgba(67, 67, 67, 0.144);
  border-radius: 0.4em;
  height: 29em;
  padding: 1em;
}
.banner___aside-left {
  width: 20%;
  display: flex;
  justify-content: end;
}
#banner__junkFood {
  transition: all 2s ease-in-out;
  width: 12em;
}
.banner__text {
  width: 40%;
}
.banner__text h1 {
  font-weight: 900;
  font-size: 3rem;
}
.banner__btn-pedir-ahora {
  display: block;
  width: 70%;
  margin-top: 2em;
  background-color: #000;
  color: white;
  padding: 0.6em;
  border-radius: 0.5em;
  transform: all 2s;
}
.banner__btn-pedir-ahora:hover {
  color: var(--body-color);
  background: rgb(31, 31, 31);
}
@media screen and (max-width: 1000px) {
  .banner {
    display: flex;
    flex-flow: column;
    position: relative;
  }
  .banner__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .banner__text p {
    position: absolute;
    top: 20%;
  }

  .banner___aside-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .banner___aside-right {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -99;
    opacity: 0.5;
  }
  /* Annoucment */
  .annou {
    position: relative;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  /*  */
  .annou__text,
  .annou__text-span,
  .annou__text-terms,
  .btn-Registar {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 830px) {
  /* annoucement */
  .annou__text,
  .annou__text-span,
  .annou__text-terms,
  .btn-Registar {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 640px) {
  .banner__text h1 {
    font-size: 2rem;
  }
  .banner__text p {
    position: absolute;
    top: 25%;
  }
  /* N */
  .annou__text,
  .annou__text-span,
  .annou__text-terms,
  .btn-Registar {
    font-size: 0.5em;
  }
  .btn-Registar {
    background: none;
    color: rgb(176, 176, 119);
    font-weight: 800;
    border: none;
    padding: 0;
    border-radius: 0;
    /* line-height: 30px; */
    transition: all 0.5s;
  }
  .annou__text-span {
    position: absolute;
    bottom: 12.4%;
    left: 5rem;
    /* align-self: flex-end; */
  }
  .annou__text-terms {
    position: absolute;
    bottom: 12.4%;
    left: 11.5rem;
  }
  .annou__content {
    /* justify-content: flex-start; */
    align-content: center;
  }
}
@media screen and (max-width: 300px) {
  .banner {
    min-width: 250px;
  }
}
/* Slider food */
.slider-food {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.slider-food span {
  margin-left: 2.4em;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* testimonial cards */

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.card__comments {
  padding: 1rem;
  font-weight: 900;
  font-size: 4rem;
  font-family: var(--font-tittle);
}
.card__comments span {
  color: var(--first-color);
  font-weight: 900;
  font-family: var(--font-tittle);
}

.testimonial-cards {
  width: 50%;
  display: flex;
  /* overflow: hidden; */
  /* z-index: 999; */
  gap: 2rem;
  margin-left: 1%;
  /* transform: translate(-50%); */
}
.card-item {
  /* transform: translate(-80%); */
  width: 45%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  z-index: -999;

  /* height: 20rem; */
}
.card__img {
  width: 100%;
  border-radius: 0.6rem 0.6rem 0 0;
}
.card-body {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 0rem;
  border-left: 1px solid var(--text-color-light) !important;
  border-right: 1px solid var(--text-color-light) !important;
  border-bottom: 1px solid var(--text-color-light) !important;
  border-radius: 0 0 0.6rem 0.6rem;
}
.cardBody__btn-like {
  width: 90%;
  font-weight: bolder;
  font-size: 0.8em;
  background-color: #b9f5cf;
  color: rgb(41, 216, 132);
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.cardBody__btn-like:hover {
  background-color: var(--btn-rappi-hover);
  color: #fff;
}

.card__img {
  height: 17rem;
  object-fit: cover;
}
.card {
  flex-shrink: 0;
}
.card_body_fullScreem {
  transition: linear 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--text-color-light); */
  /* width: 100%; */
  /* height: 100%; */
}
@media screen and (max-width: 540px) {
  .card-item {
    width: 50% !important;
    background-color: #000;
  }
}
/* footer */
.containerInfo {
  background-color: var(--text-color-light);
  padding-top: 1rem;
  /* margin-bottom: 2rem; */
}
.footer__content {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
}
.footer__listItems {
  margin-top: 2rem;
  width: 15%;
}
.footer__listItem a {
  color: #000;
  font-size: 0.8em;
}
.footer__redesSociales{
  padding: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--body-color);
}
.footer__redesSociales a i{
  font-size: 1.4rem;
}
.footer__redesSociales a {
  cursor: pointer;
}